
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    color: #212529;
    background-color: #f8f9fa; 
}
/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 0 10px;
    color: #012c5a; /* Consistent heading color */
}
h1 {
    margin-right: auto;
    color: #edf0f1;
    font-size: 40px;
}
/* Paragraph Styles */
p {
    font-weight: normal;
    margin: 0 0 15px;
    line-height: 1.6;
}
/* CTA Button Styles */
.cta-primary {
    background-color: #012c5a;
    color: white;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 600; /* Changed to numerical value for better consistency */
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.cta-primary:hover {
    background-color: white;
    color: #012c5a;
    border: 2px solid #012c5a; /* Define the border color on hover */
}

.cta-secondary {
    background-color: white;
    color: #012c5a;
    padding: 10px 20px;
    border: 2px solid #012c5a; /* Make border consistent with primary */
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 600; /* Changed to numerical value for better consistency */
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.cta-secondary:hover {
    background-color: #012c5a;
    color: white;
}
.cta-tertiary {
    background-color: white;
    color: #012c5a;
    padding: 10px 20px;
    border: 1px solid #012c5a;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: medium;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease; /* Smooth transition for hover effect */
}
.cta-tertiary:hover {
    background-color: #012c5a;
    color: white;
    border: 1px solid white;
}

li,a,button {

    font-weight: 500;
    font-size: 19px;
    color: #edf0f1;
    text-decoration: none;
}

/*Header Styles*/

header {
    position: sticky;
    top:0;
    background: rgba(255, 255, 255, 0.7); /* Transparent white background */
    backdrop-filter: blur(10px); /* Blurry effect */
    transition: 2s;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    z-index: 1;
}

.nav__header h1,a{
    color: #012c5a;
}
ul{
    list-style: none;
    position: relative;
}

li {
    display: inline-block;
    padding: 0px 20px;

}

ul li a {
    transition: all 0.2s ease; /* Smooth transition for hover effect */
}

li a:hover {
    opacity: 90%;
    transition: all 0.2s ease; /* Smooth transition for hover effect */
}

.sticky {
    transition: 2s;
}

.sticky h1   {
    color: #012c5a;
    
}

.sticky a {
    color:#012c5a
}
/* First Section Content */
.fs__container {
    background-color: rgb(22, 13, 38);
    backdrop-filter: blur(10px);
    padding: 0px 10%;
    transition: 2s;
    overflow: hidden;
}

.fs__content__container {
    display: flex;
    margin: 0 auto;
}

.fs__name {
    font-size: 18px;
    color: white;
}

.fs__title {
    font-size: 36px;
    margin: 10px 0;
}

.fs__description {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.fs__text__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards ease-in-out;
    animation-delay: 0.5s;
}

.fs__img__col {
    width: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards ease-in-out;
    animation-delay: 1s;
}

.fs__img__col img {
    max-width: 100%;
    height: auto;
}

/* Add media query for small screens */
@media only screen and (max-width: 768px) {
    .fs__content__container {
        flex-direction: column;
        align-items: center;
    }

    .fs__text__col,
    .fs__img__col {
        width: 100%;
    }
    .fs__text__col {
        padding-top: 40px;
    }
    .fs__title {
        font-size: 28px;
    }

    .fs__description {
        font-size: 14px;
    }
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}














/* Footer Styles */
.footer {
    background-color: #012c5a; /* Background color following your scheme */
    color: #edf0f1; /* Text color */
    padding: 50px 0;
    text-align: center;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__copyright {
    display: flex;
    padding: 20px 5%;
}
.footer__column {
    width: -webkit-fill-available;
    
}
.footer__column h3 {
    color: white;
}
.footer__logo {
    font-size: 100px; /* Adjust font size as needed */
    display: flex;
    padding: 15px;
}

.footer__nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.footer__nav li {
    margin-bottom: 10px; /* Add some space between nav items */
}

.footer__nav li a {
    color: #edf0f1;
    text-decoration: none;
}

.footer__social {
    display: flex;
    flex-direction: column;
}

.footer__social a {
    margin: 0 10px; /* Add some space between social icons */
    font-size: 30px;
}

/* Add media query for small screens */
@media only screen and (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__column {
        width: 100%; /* Each column takes full width on small screens */
        margin-bottom: 30px; /* Add some space between columns */
    }
    .footer__social {
        margin-top: 20px; /* Add some space between social icons and heading */
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    animation: fadeIn 1s ease-in-out; /* Apply animation to the footer */
}

/* Add media query for mobile devices */

@media only screen and (max-width: 425px) {
    .nav__links {
        display: flex;
    }
    .nav__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 6%;
    }
    li {
        display: inline-block;
        padding: 5px 20px;
    }
    .fs__text__col {
        align-items: flex-start;
    }
}
